@import "tailwindcss";
@source "./**/*.{ts,tsx}";

@theme {
  --color-primary: var(--primary-color, #22c55e);
}

@layer base {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #e5e7eb;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #d1d5db;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
