# .env.example
# No es necesario configurar el puerto o el host, el sistema usa valores predeterminados.
GEMINI_API_KEY=
POSTGRES_URL=postgresql://user:password@localhost:5432/dbname
DB_NAME=database.sqlite
JWT_SECRET=your_jwt_secret_here
